{% extends 'base.html' %}
{% block title_block %} Cart Page {% endblock %}
{% block content %}
<div class="container my-5">
    <div class="my-5">
        <h2>Your cart</h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" width="15%"></th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col" align="right">Price</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for cart in carts %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{cart.item.name}}</td>
                <td>
                    <a href="{% url 'app_order:decrease' pk=cart.item.pk %}" class="me-2"><span><i class="fas fa-minus"></i></span></a>
                    {{cart.quantity}}
                    <a href="{% url 'app_order:increase' pk=cart.item.pk %}" class="me-2"><span><i class="fas fa-plus"></i></span></a>
                </td>
                <td>&#2547; {{cart.get_total}}</td>
                <td><a href="{% url 'app_order:remove' pk=cart.item.pk %}" class="btn btn-danger bt-sm">Remove from cart</a></td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td colspan="2">Total</td>
                <td >&#2547; {{order.get_totals | floatformat:2}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td colspan="4" class="text-end">
                    <a href="{% url 'app_shop:home' %}" class="btn btn-warning">Continue Shopping</a>
                    <a href="{% url 'app_payment:checkout' %}" class="btn btn-success">Processed to Check out</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}